In [1]:
import sqlite3
import pandas as pd
import numpy as np
import hashlib
from pandasql import sqldf
from geopy.distance import great_circle

Part 1. Establishing Database

In [5]:
conn = sqlite3.connect("cs.db")

In [6]:
cur = conn.cursor()

In [7]:
#Tables on db
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'",conn)

     name
0  fields
1     geo
2    inst
3    user
4   relig

In [50]:
#inst = pd.read_sql("SELECT * FROM inst",conn)

In [31]:
#conn.close()

Define Features and Filters

In [21]:
def features_dict(feature1, feature2, feature3):
    featuresDict = {}
    featuresDict['feature1']= feature1
    featuresDict['feature2']= feature2
    featuresDict['feature3']= feature3
    return featuresDict

In [22]:
featuresDict = features_dict('OMENRUP_PELL_NFT_POOLED_SUPP', 'OMENRYP_PELL_FT_POOLED_SUPP', 'OMENRAP_PELL_FT_POOLED_SUPP')

In [10]:
def filter_list(filter1, filter2):
    l = list()
    l.append(filter1)
    l.append(filter2)
    return l

In [11]:
filterList = filter_list('SATMT25','SATVR25')
filterList

['SATMT25', 'SATVR25']

In [12]:
def filter_values(filter1,filter1input, filter2, filter2input):
    filters_dict = {}
    filters_dict[filter1] = filter1input
    filters_dict[filter2] = filter2input
    return filters_dict

In [13]:
filterValues = filter_values('SATMT25', '586', 'SATVR25', '789')
filterValues

{'SATMT25': '586', 'SATVR25': '789'}

Part 2. User Inputs

Part 2a. Preferences:
Input provided: Importance from scale 1 to 10
Output created: Allocation Percentage

In [18]:
#a, b, c represents importance user provides for each preference
#must be in same order as they are called in normalized matrix
f1weight=4
f2weight=5
f3weight=6
raw_weights = np.array([f1weight, f2weight, f3weight])
sum_weights = np.sum(raw_weights)
perc_weights = raw_weights/sum_weights
perc_weights

array([0.26666667, 0.33333333, 0.4       ])

Part 2b. User ID Creation
Input provided: email
Output created: 1) user_id 2) inserts user_id and email into "user" table
Method: function (user_id_generator)

In [33]:
#Scenario 1 Testing
email = 'mkjones@gatech.edu'
user_id = int(hashlib.sha256(email.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID

In [34]:
user_id

9987952

In [35]:
#Scenario #2
#trying different email
email2 = 'michaelk.Jones@outlook.com'
user_id3 = int(hashlib.sha256(email2.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
user_id3

80449489

In [36]:
#Scenario 3
#trying same email as scenario 2 but with all lowercase
email3 = 'michaelk.jones@outlook.com'
user_id4 = int(hashlib.sha256(email3.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
user_id4

87012218

In [37]:
#Scenario 4
#same email as scenario 2 but added lower to have negate capitalization effects
email2 = 'michaelk.Jones@outlook.com'
user_id5 = int(hashlib.sha256(email2.lower().encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
user_id5

87012218

In [38]:
def user_id_generator(email):
    id = int(hashlib.sha256(email.lower().encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
    return id

In [39]:
#test case of function
user_id_generator(email = 'test123@outlook.com')

83932234

In [40]:
email = 'test123@outlook.com'
user_id = user_id_generator(email = 'test123@outlook.com')

if pd.read_sql(f"SELECT * FROM user WHERE user_id ={user_id}",conn).empty:
    cur.execute(f"INSERT INTO user values('{email}',{user_id})")
else:
    print("Email exists")

In [42]:
pd.read_sql(f"SELECT * FROM user",conn)

                        email   user_id
0          mkjones@gatech.edu   9987952
1       mykek.jones@gmail.com  95829733
2  michaelk.jones@outlook.com  87012218
3             test1@GMAIL.COM  65768313
4             test1@gmail.com  45591513

Part 2.c: Zipcode
user provided: zipcode
output created: temp dataframe of distance in miles per institution

In [9]:
geo = pd.read_sql("SELECT * FROM geo",conn)

In [16]:
geo.printSchema()

AttributeError: 'DataFrame' object has no attribute 'printSchema'

In [45]:
input_zip = "30315"

In [46]:
lat =float(list(geo[geo['zip']==input_zip]['lat'])[0])
lon =float(list(geo[geo['zip']==input_zip]['lng'])[0])
print(f"lat, lon: ({lat}, {lon})")

lat, lon: (33.70312, -84.38272)

In [51]:
inst[["UNITID","LATITUDE","LONGITUDE"]]

        UNITID   LATITUDE   LONGITUDE
0       100654  34.783368  -86.568502
1       100663  33.505697  -86.799345
2       100690  32.362609   -86.17401
3       100706  34.724557  -86.640449
4       100724  32.364317  -86.295677
...        ...        ...         ...
6676  49576719   41.31559   -76.02235
6677  49576720   39.92142   -76.71277
6678  49576721    40.0466    -75.5302
6679  49576722   40.19437   -76.72659
6680  49576723   39.92248   -75.41419

[6681 rows x 3 columns]

In [57]:
## Function to use to find the distance of each university in miles
def inst_dist (lat,lon):
    idx = inst.apply(lambda x: great_circle((x["LATITUDE"], x["LONGITUDE"]), (lat, lon)).miles, axis=1)
    column_name = f"{user_id}_DISTANCE_MI"  # Adding user_id to the column title
    return inst.loc[:, ['UNITID']].assign(**{column_name: idx})

In [59]:
def inst_dist (lat,lon):
    idx = inst.apply(lambda x: great_circle((x["LATITUDE"], x["LONGITUDE"]), (lat, lon)).miles, axis=1)
    column_name = f"{user_id}_DISTANCE_MI"  # Adding user_id to the column title
    return inst.loc[:, ['UNITID']].assign(dist_miles = idx)

In [61]:
#Distances of each university to the input zip
dist_temp_table = inst_dist(lat,lon)
type(dist_temp_table)
dist_temp_table
inst = pd.merge(inst, dist_temp_table, on='UNITID')

In [5]:
pd.read_sql("SELECT * FROM inst",conn)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,NPCURL,HCM2,...,OMENRUP_PELL_NFT_POOLED_SUPP,OMENRYP_PELL_FT_POOLED_SUPP,OMENRAP_PELL_FT_POOLED_SUPP,OMAWDP8_PELL_FT_POOLED_SUPP,OMENRUP_PELL_FT_POOLED_SUPP,OMENRYP_PELL_PT_POOLED_SUPP,OMENRAP_PELL_PT_POOLED_SUPP,OMAWDP8_PELL_PT_POOLED_SUPP,OMENRUP_PELL_PT_POOLED_SUPP,GT_THRESHOLD_P6_SUPP
0,100654,00100200,001002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,0,...,0.2803,0.0116,0.3329,0.2958,0.3597,0.0056,0.3889,0.1833,0.4222,0.4606
1,100663,00105200,001052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,0,...,0.211,0.0149,0.2773,0.5243,0.1835,0.0211,0.277,0.4354,0.2665,0.659
2,100690,02503400,025034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu/,www2.amridgeuniversity.edu:9091/,0,...,0.468,0,0.2798,0.2523,0.4679,0,0.186,0.4186,0.3953,0.5132
3,100706,00105500,001055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu/,finaid.uah.edu/,0,...,0.187,0.0098,0.3154,0.4961,0.1787,0.0105,0.3632,0.3474,0.2789,0.717
4,100724,00100500,001005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,0,...,0.2026,0.0097,0.3904,0.3061,0.2938,0.0778,0.4444,0.1111,0.3667,0.382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6676,49576719,00332917,003329,Pennsylvania State University-Penn State Wilke...,Lehman,PA,18627-0217,wilkesbarre.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,None
6677,49576720,00332918,003329,Pennsylvania State University-Penn State York,York,PA,17403-3326,york.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,None
6678,49576721,00332919,003329,Pennsylvania State University-Penn State Great...,Malvern,PA,19355-1488,greatvalley.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,None
6679,49576722,00332920,003329,Pennsylvania State University-Penn State Harri...,Middletown,PA,17057-4846,harrisburg.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,None
6680,49576723,00332921,003329,Pennsylvania State University-Penn State Brand...,Media,PA,19063-5522,brandywine.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,None

In [119]:
def transform_zip_to_dist_col(zipcode):
    geo = pd.read_sql("SELECT * FROM geo",conn)
    inst = pd.read_sql("SELECT * FROM inst",conn)
    lat =float(list(geo[geo['zip']==zipcode]['lat'])[0])
    lon =float(list(geo[geo['zip']==zipcode]['lng'])[0])
    idx = inst.apply(lambda x: great_circle((x["LATITUDE"], x["LONGITUDE"]), (lat, lon)).miles, axis=1)
    distDF = inst.loc[:, ['UNITID']].assign(dist_miles = idx)
    inst = pd.merge(inst, distDF, on='UNITID')
    return inst

In [120]:
test = transform_zip_to_dist_col('30097')
test

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,NPCURL,HCM2,...,OMENRYP_PELL_FT_POOLED_SUPP,OMENRAP_PELL_FT_POOLED_SUPP,OMAWDP8_PELL_FT_POOLED_SUPP,OMENRUP_PELL_FT_POOLED_SUPP,OMENRYP_PELL_PT_POOLED_SUPP,OMENRAP_PELL_PT_POOLED_SUPP,OMAWDP8_PELL_PT_POOLED_SUPP,OMENRUP_PELL_PT_POOLED_SUPP,GT_THRESHOLD_P6_SUPP,dist_miles
0,100654,00100200,001002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,0,...,0.0116,0.3329,0.2958,0.3597,0.0056,0.3889,0.1833,0.4222,0.4606,147.593425
1,100663,00105200,001052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,0,...,0.0149,0.2773,0.5243,0.1835,0.0211,0.277,0.4354,0.2665,0.659,156.540810
2,100690,02503400,025034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu/,www2.amridgeuniversity.edu:9091/,0,...,0,0.2798,0.2523,0.4679,0,0.186,0.4186,0.3953,0.5132,164.191256
3,100706,00105500,001055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu/,finaid.uah.edu/,0,...,0.0098,0.3154,0.4961,0.1787,0.0105,0.3632,0.3474,0.2789,0.717,150.129854
4,100724,00100500,001005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,0,...,0.0097,0.3904,0.3061,0.2938,0.0778,0.4444,0.1111,0.3667,0.382,169.201972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6676,49576719,00332917,003329,Pennsylvania State University-Penn State Wilke...,Lehman,PA,18627-0217,wilkesbarre.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,670.943595
6677,49576720,00332918,003329,Pennsylvania State University-Penn State York,York,PA,17403-3326,york.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,577.729643
6678,49576721,00332919,003329,Pennsylvania State University-Penn State Great...,Malvern,PA,19355-1488,greatvalley.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,630.970517
6679,49576722,00332920,003329,Pennsylvania State University-Penn State Harri...,Middletown,PA,17057-4846,harrisburg.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,590.104574
6680,49576723,00332921,003329,Pennsylvania State University-Penn State Brand...,Media,PA,19063-5522,brandywine.psu.edu/,None,0,...,None,None,None,None,None,None,None,None,None,630.528504

Applying filters:

In [ ]:
.set_index('UNITID', inplace=True)

In [121]:
#decided to call table directly
def apply_filters_and_features(featuresDict, filterList, filterValues):
    filterquery = """
    SELECT
    UNITID,
    {0},
    {1},
    {2}
    FROM test
    WHERE {3} <= {4}
    AND {5} <= {6}
    """.format(featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'], filterList[0], filterValues[filterList[0]],filterList[1],  filterValues[filterList[1]])
    return sqldf(filterquery,globals())

In [122]:
appliedffs = apply_filters_and_features(featuresDict = featuresDict,filterList=filterList,filterValues=filterValues)

In [71]:
#stuck on getting argument df to work in format function
def apply_filters(df, featuresDict, filterList, filterValues):
    filterquery = """
    SELECT
    {1},
    {2},
    {3}
    FROM {0}
    WHERE {4} <= {5}
    AND {6} <= {7}
    """.format(df,featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'], filterList[0], filterValues[filterList[0]],filterList[1],  filterValues[filterList[1]])
    return sqldf(filterquery,locals())

In [85]:
#stuck on getting argument df to work in format function
def apply_filters(df, featuresDict, filterList, filterValues):
    filterquery = """
    SELECT
    {1},
    {2},
    {3}
    FROM {0}
    WHERE {4} <= {5}
    AND {6} <= {7}
    """.format(df, featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'], filterList[0], filterValues[filterList[0]],filterList[1],  filterValues[filterList[1]])
    return sqldf(filterquery,globals())

In [65]:
#stuck on getting argument df to work in format function
def apply_filters(df, featuresDict, filterList, filterValues):
    filterquery = f"""
    SELECT
    {featuresDict['feature1']},
    {featuresDict['feature2']},
    {featuresDict['feature3']}
    FROM {df}
    WHERE {filterList[0]} <= {filterValues[filterList[0]]}
    AND {filterList[1]} <= {filterValues[filterList[1]]}
    """
    return sqldf(filterquery,globals())

In [66]:
appliedfilters = apply_filters(df = test, featuresDict = featuresDict,filterList=filterList,filterValues=filterValues)
appliedfilters

PandaSQLException: (sqlite3.OperationalError) near "OPEID6": syntax error
[SQL:
    SELECT
    OMENRUP_PELL_NFT_POOLED_SUPP,
    OMENRYP_PELL_FT_POOLED_SUPP,
    OMENRAP_PELL_FT_POOLED_SUPP
    FROM         UNITID     OPEID  OPEID6
0       100654  00100200  001002  \
1       100663  00105200  001052
2       100690  02503400  025034
3       100706  00105500  001055
4       100724  00100500  001005
...        ...       ...     ...
6676  49576719  00332917  003329
6677  49576720  00332918  003329
6678  49576721  00332919  003329
6679  49576722  00332920  003329
6680  49576723  00332921  003329

                                                 INSTNM        CITY STABBR
0                              Alabama A & M University      Normal     AL  \
1                   University of Alabama at Birmingham  Birmingham     AL
2                                    Amridge University  Montgomery     AL
3                   University of Alabama in Huntsville  Huntsville     AL
4                              Alabama State University  Montgomery     AL
...                                                 ...         ...    ...
6676  Pennsylvania State University-Penn State Wilke...      Lehman     PA
6677      Pennsylvania State University-Penn State York        York     PA
6678  Pennsylvania State University-Penn State Great...     Malvern     PA
6679  Pennsylvania State University-Penn State Harri...  Middletown     PA
6680  Pennsylvania State University-Penn State Brand...       Media     PA

             ZIP                     INSTURL
0          35762               www.aamu.edu/  \
1     35294-0110        https://www.uab.edu/
2     36117-3553  www.amridgeuniversity.edu/
3          35899                www.uah.edu/
4     36104-0271              www.alasu.edu/
...          ...                         ...
6676  18627-0217        wilkesbarre.psu.edu/
6677  17403-3326               york.psu.edu/
6678  19355-1488        greatvalley.psu.edu/
6679  17057-4846         harrisburg.psu.edu/
6680  19063-5522         brandywine.psu.edu/

                                                 NPCURL HCM2  ...
0     www.aamu.edu/admissions-aid/tuition-fees/net-p...    0  ...  \
1     https://tcc.ruffalonl.com/University of Alabam...    0  ...
2                      www2.amridgeuniversity.edu:9091/    0  ...
3                                       finaid.uah.edu/    0  ...
4     www.alasu.edu/cost-aid/tuition-costs/net-price...    0  ...
...                                                 ...  ...  ...
6676                                               None    0  ...
6677                                               None    0  ...
6678                                               None    0  ...
6679                                               None    0  ...
6680                                               None    0  ...

     OMENRYP_PELL_FT_POOLED_SUPP OMENRAP_PELL_FT_POOLED_SUPP
0                         0.0116                      0.3329  \
1                         0.0149                      0.2773
2                              0                      0.2798
3                         0.0098                      0.3154
4                         0.0097                      0.3904
...                          ...                         ...
6676                        None                        None
6677                        None                        None
6678                        None                        None
6679                        None                        None
6680                        None                        None

     OMAWDP8_PELL_FT_POOLED_SUPP OMENRUP_PELL_FT_POOLED_SUPP
0                         0.2958                      0.3597  \
1                         0.5243                      0.1835
2                         0.2523                      0.4679
3                         0.4961                      0.1787
4                         0.3061                      0.2938
...                          ...                         ...
6676                        None                        None
6677                        None                        None
6678                        None                        None
6679                        None                        None
6680                        None                        None

     OMENRYP_PELL_PT_POOLED_SUPP OMENRAP_PELL_PT_POOLED_SUPP
0                         0.0056                      0.3889  \
1                         0.0211                       0.277
2                              0                       0.186
3                         0.0105                      0.3632
4                         0.0778                      0.4444
...                          ...                         ...
6676                        None                        None
6677                        None                        None
6678                        None                        None
6679                        None                        None
6680                        None                        None

     OMAWDP8_PELL_PT_POOLED_SUPP OMENRUP_PELL_PT_POOLED_SUPP
0                         0.1833                      0.4222  \
1                         0.4354                      0.2665
2                         0.4186                      0.3953
3                         0.3474                      0.2789
4                         0.1111                      0.3667
...                          ...                         ...
6676                        None                        None
6677                        None                        None
6678                        None                        None
6679                        None                        None
6680                        None                        None

     GT_THRESHOLD_P6_SUPP  dist_miles
0                  0.4606  147.593425
1                   0.659  156.540810
2                  0.5132  164.191256
3                   0.717  150.129854
4                   0.382  169.201972
...                   ...         ...
6676                 None  670.943595
6677                 None  577.729643
6678                 None  630.970517
6679                 None  590.104574
6680                 None  630.528504

[6681 rows x 175 columns]
    WHERE SATMT25 <= 586
    AND SATVR25 <= 789
    ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Normalizing Features

part 1: find each feature's length

In [32]:
maxQuery = """
SELECT max({0}) x1FeatureLength, max({1}) x2FeatureLength, max({2}) x3FeatureLength
FROM appliedffs
where {0} not like 'PrivacySuppressed' and {1} not like 'PrivacySuppressed' and {2} not like 'PrivacySuppressed'
""".format(featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'])

In [45]:
featureLengths = sqldf(maxQuery,locals()).loc[0]
featureLengths

x1FeatureLength    0.8871
x2FeatureLength     0.241
x3FeatureLength    0.5972
Name: 0, dtype: object

In [46]:
x1FeatureLength = float(featureLengths['x1FeatureLength'])
x2FeatureLength = float(featureLengths['x2FeatureLength'])
x3FeatureLength = float(featureLengths['x3FeatureLength'])

In [47]:
x1FeatureLength

0.8871

part 2: applying length to normalize each feature

In [ ]:
normalizedQuery = """
SELECT
{0}/{3} feature1normalized,
{1}/{4} feature2normalized,
{2}/{5} feature3normalized
FROM inst
""".format(featuresDict['x1'],featuresDict['x2'],featuresDict['x3'], x1FeatureLength, x2FeatureLength, x3FeatureLength)

In [ ]:
normalizedDF = sqldf(normalizedQuery,locals())
normalizedDF

In [141]:
def normalize_features (features_Dict):
    #find length of each feature
    maxQuery = """
    SELECT max({0}) x1FeatureLength, max({1}) x2FeatureLength, max({2}) x3FeatureLength
    FROM appliedffs
    where {0} not like 'PrivacySuppressed' and {1} not like 'PrivacySuppressed' and {2} not like 'PrivacySuppressed'
    """.format(featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'])

    featureLengths = sqldf(maxQuery,globals()).loc[0]

    x1FeatureLength = float(featureLengths['x1FeatureLength'])
    x2FeatureLength = float(featureLengths['x2FeatureLength'])
    x3FeatureLength = float(featureLengths['x3FeatureLength'])

    #normalize each feature
    normalizedQuery = """
    SELECT
    UNITID,
    {0}/{3} feature1normalized,
    {1}/{4} feature2normalized,
    {2}/{5} feature3normalized
    FROM appliedffs
    """.format(featuresDict['feature1'],featuresDict['feature2'],featuresDict['feature3'], x1FeatureLength, x2FeatureLength, x3FeatureLength)

    return sqldf(normalizedQuery,globals())

In [142]:
normalizedByUni = normalize_features(featuresDict)
#normalizedByUni.set_index('UNITID', inplace = True)

In [143]:
normalizedByUni

     UNITID  feature1normalized  feature2normalized  feature3normalized
0    100654            0.315973            0.048133            0.557435
1    100663            0.237854            0.061826            0.464334
2    100706            0.210799            0.040664            0.528131
3    100724            0.228385            0.040249            0.653717
4    100751            0.185548            0.036100            0.508540
..      ...                 ...                 ...                 ...
928  487524            0.357682            0.007054            0.340589
929  488305                 NaN                 NaN                 NaN
930  488785                 NaN                 NaN                 NaN
931  490805            0.277083            0.048133            0.608841
932  495767            0.194679            0.039419            0.374581

[933 rows x 4 columns]

Calculating Uni Rating

multiplying preferences to feature

In [169]:
def uni_rating_calc(df):
    normalizedMatrix = df.values
    ratingScore = np.dot(normalizedMatrix[:,1:4], perc_weights)
    return pd.DataFrame(np.c_[df.values[:, :1], ratingScore]).rename(columns = {0:'UNITID', 1:'Rating'})

In [170]:
test = uni_rating_calc(normalizedByUni)
test

     UNITID    Rating
0    100654  0.323278
1    100663   0.26977
2    100706   0.28102
3    100724  0.335806
4    100751  0.264929
..      ...       ...
928  487524  0.233969
929  488305       NaN
930  488785       NaN
931  490805  0.333469
932  495767  0.214887

[933 rows x 2 columns]

In [162]:
normalizedByUni

     UNITID  feature1normalized  feature2normalized  feature3normalized
0    100654            0.315973            0.048133            0.557435
1    100663            0.237854            0.061826            0.464334
2    100706            0.210799            0.040664            0.528131
3    100724            0.228385            0.040249            0.653717
4    100751            0.185548            0.036100            0.508540
..      ...                 ...                 ...                 ...
928  487524            0.357682            0.007054            0.340589
929  488305                 NaN                 NaN                 NaN
930  488785                 NaN                 NaN                 NaN
931  490805            0.277083            0.048133            0.608841
932  495767            0.194679            0.039419            0.374581

[933 rows x 4 columns]

In [151]:
normalizedMatrix = normalizedByUni.values
normalizedMatrix[:,1:4]

array([[0.3159733964603765, 0.04813278008298755, 0.5574346952444742],
       [0.2378536805320708, 0.06182572614107884, 0.4643335565974548],
       [0.21079923345733287, 0.04066390041493776, 0.528131279303416],
       ...,
       [nan, nan, nan],
       [0.27708262879044077, 0.04813278008298755, 0.608841259209645],
       [0.19467929207530155, 0.03941908713692946, 0.37458137977227063]],
      dtype=object)

In [165]:
uniIndex = normalizedByUni.values[:, :1]

In [166]:
uniIndex

array([['100654'],
       ['100663'],
       ['100706'],
       ['100724'],
       ['100751'],
       ['100830'],
       ['100858'],
       ['100937'],
       ['101189'],
       ['101435'],
       ['101480'],
       ['101541'],
       ['101648'],
       ['101709'],
       ['102049'],
       ['102094'],
       ['102234'],
       ['102368'],
       ['102377'],
       ['102614'],
       ['104151'],
       ['104179'],
       ['104586'],
       ['105589'],
       ['105899'],
       ['106245'],
       ['106342'],
       ['106397'],
       ['106412'],
       ['106458'],
       ['106704'],
       ['106713'],
       ['107044'],
       ['107071'],
       ['107141'],
       ['107512'],
       ['107558'],
       ['107877'],
       ['110097'],
       ['110361'],
       ['110413'],
       ['110510'],
       ['110529'],
       ['110538'],
       ['110556'],
       ['110565'],
       ['110583'],
       ['110592'],
       ['110608'],
       ['110617'],
       ['110671'],
       ['110714'],
       ['111948'],
       ['112075'],
       ['112084'],
       ['113698'],
       ['114813'],
       ['115755'],
       ['117104'],
       ['117140'],
       ['117627'],
       ['118888'],
       ['119173'],
       ['120537'],
       ['120865'],
       ['120883'],
       ['121309'],
       ['121691'],
       ['122409'],
       ['122597'],
       ['122612'],
       ['122755'],
       ['123457'],
       ['123554'],
       ['123572'],
       ['123651'],
       ['123952'],
       ['124292'],
       ['125727'],
       ['126182'],
       ['126562'],
       ['126614'],
       ['126818'],
       ['127060'],
       ['127185'],
       ['127565'],
       ['127741'],
       ['127918'],
       ['128106'],
       ['128391'],
       ['128744'],
       ['128771'],
       ['129525'],
       ['129941'],
       ['130314'],
       ['130934'],
       ['130943'],
       ['131098'],
       ['131450'],
       ['131520'],
       ['132408'],
       ['132602'],
       ['132879'],
       ['132903'],
       ['133526'],
       ['133553'],
       ['133650'],
       ['133669'],
       ['133711'],
       ['133809'],
       ['133872'],
       ['133881'],
       ['133951'],
       ['134079'],
       ['136172'],
       ['136215'],
       ['136330'],
       ['137351'],
       ['137476'],
       ['137564'],
       ['137847'],
       ['137953'],
       ['137962'],
       ['138293'],
       ['138354'],
       ['138558'],
       ['138716'],
       ['138761'],
       ['138868'],
       ['138947'],
       ['139199'],
       ['139250'],
       ['139366'],
       ['139393'],
       ['139630'],
       ['139764'],
       ['139861'],
       ['139931'],
       ['139940'],
       ['139968'],
       ['140234'],
       ['140252'],
       ['140447'],
       ['140696'],
       ['140720'],
       ['140818'],
       ['140872'],
       ['140960'],
       ['140988'],
       ['141060'],
       ['141167'],
       ['141237'],
       ['141264'],
       ['141325'],
       ['141334'],
       ['141361'],
       ['141486'],
       ['141565'],
       ['141574'],
       ['141644'],
       ['141981'],
       ['142090'],
       ['142115'],
       ['142285'],
       ['142294'],
       ['142328'],
       ['142461'],
       ['142522'],
       ['143048'],
       ['143118'],
       ['143288'],
       ['143358'],
       ['144005'],
       ['144351'],
       ['144892'],
       ['144962'],
       ['144971'],
       ['145336'],
       ['145372'],
       ['145600'],
       ['145619'],
       ['145646'],
       ['145813'],
       ['146339'],
       ['146427'],
       ['146612'],
       ['146719'],
       ['147013'],
       ['147129'],
       ['147244'],
       ['147341'],
       ['147660'],
       ['147679'],
       ['147776'],
       ['147828'],
       ['148016'],
       ['148131'],
       ['148405'],
       ['148487'],
       ['148496'],
       ['148584'],
       ['148627'],
       ['148654'],
       ['149222'],
       ['149231'],
       ['149505'],
       ['149514'],
       ['149639'],
       ['149772'],
       ['150066'],
       ['150163'],
       ['150400'],
       ['150455'],
       ['150604'],
       ['150668'],
       ['150677'],
       ['150756'],
       ['150774'],
       ['150941'],
       ['151102'],
       ['151111'],
       ['151263'],
       ['151306'],
       ['151342'],
       ['151351'],
       ['151360'],
       ['151379'],
       ['151388'],
       ['151801'],
       ['152099'],
       ['152336'],
       ['152381'],
       ['152390'],
       ['152497'],
       ['152567'],
       ['152600'],
       ['152673'],
       ['153108'],
       ['153126'],
       ['153162'],
       ['153250'],
       ['153269'],
       ['153278'],
       ['153302'],
       ['153320'],
       ['153366'],
       ['153375'],
       ['153603'],
       ['153621'],
       ['153658'],
       ['153834'],
       ['154095'],
       ['154101'],
       ['154235'],
       ['154350'],
       ['154493'],
       ['154518'],
       ['154527'],
       ['154688'],
       ['154712'],
       ['154749'],
       ['155089'],
       ['155317'],
       ['155627'],
       ['155812'],
       ['155900'],
       ['155937'],
       ['155973'],
       ['156125'],
       ['156189'],
       ['156213'],
       ['156286'],
       ['156295'],
       ['156356'],
       ['156408'],
       ['156541'],
       ['156620'],
       ['157030'],
       ['157058'],
       ['157076'],
       ['157085'],
       ['157100'],
       ['157289'],
       ['157377'],
       ['157401'],
       ['157447'],
       ['157748'],
       ['157757'],
       ['157818'],
       ['157951'],
       ['158477'],
       ['158802'],
       ['159009'],
       ['159382'],
       ['159391'],
       ['159416'],
       ['159568'],
       ['159647'],
       ['159656'],
       ['159717'],
       ['159939'],
       ['159966'],
       ['159993'],
       ['160038'],
       ['160621'],
       ['160658'],
       ['160904'],
       ['161022'],
       ['161299'],
       ['161518'],
       ['161554'],
       ['161873'],
       ['162007'],
       ['162283'],
       ['162584'],
       ['163268'],
       ['163338'],
       ['163453'],
       ['163462'],
       ['163912'],
       ['164076'],
       ['164447'],
       ['164614'],
       ['164632'],
       ['164720'],
       ['165024'],
       ['165334'],
       ['165529'],
       ['165644'],
       ['165662'],
       ['165671'],
       ['165802'],
       ['165866'],
       ['165936'],
       ['166391'],
       ['166513'],
       ['166656'],
       ['166692'],
       ['167288'],
       ['167394'],
       ['167783'],
       ['167987'],
       ['168005'],
       ['168227'],
       ['168263'],
       ['168281'],
       ['168430'],
       ['168528'],
       ['168546'],
       ['168740'],
       ['168786'],
       ['169080'],
       ['169248'],
       ['169716'],
       ['169798'],
       ['169910'],
       ['170037'],
       ['170301'],
       ['170639'],
       ['170806'],
       ['170967'],
       ['171100'],
       ['171137'],
       ['171146'],
       ['171492'],
       ['171571'],
       ['171881'],
       ['172051'],
       ['172334'],
       ['172644'],
       ['172699'],
       ['173045'],
       ['173160'],
       ['173300'],
       ['173452'],
       ['173665'],
       ['174233'],
       ['174251'],
       ['174358'],
       ['174437'],
       ['174525'],
       ['174747'],
       ['174783'],
       ['174792'],
       ['174844'],
       ['174862'],
       ['174914'],
       ['175005'],
       ['175078'],
       ['175272'],
       ['175342'],
       ['175421'],
       ['175430'],
       ['175616'],
       ['175856'],
       ['175980'],
       ['176017'],
       ['176035'],
       ['176053'],
       ['176080'],
       ['176406'],
       ['176479'],
       ['176947'],
       ['177117'],
       ['177144'],
       ['177214'],
       ['177542'],
       ['177968'],
       ['178244'],
       ['178341'],
       ['178369'],
       ['178396'],
       ['178402'],
       ['178420'],
       ['178615'],
       ['178624'],
       ['178697'],
       ['179043'],
       ['179159'],
       ['179265'],
       ['179326'],
       ['179548'],
       ['179566'],
       ['179894'],
       ['179946'],
       ['179955'],
       ['180106'],
       ['180258'],
       ['180416'],
       ['180461'],
       ['180489'],
       ['180595'],
       ['180692'],
       ['180984'],
       ['181127'],
       ['181215'],
       ['181330'],
       ['181446'],
       ['181464'],
       ['181738'],
       ['181853'],
       ['182281'],
       ['182290'],
       ['182458'],
       ['183044'],
       ['183071'],
       ['183239'],
       ['183275'],
       ['183822'],
       ['183910'],
       ['183974'],
       ['184612'],
       ['184773'],
       ['184782'],
       ['185262'],
       ['185572'],
       ['186201'],
       ['186283'],
       ['186371'],
       ['186399'],
       ['186584'],
       ['186876'],
       ['187134'],
       ['187648'],
       ['187967'],
       ['187985'],
       ['188030'],
       ['188429'],
       ['188526'],
       ['188641'],
       ['189705'],
       ['189848'],
       ['190248'],
       ['190549'],
       ['190567'],
       ['190600'],
       ['190637'],
       ['190664'],
       ['190691'],
       ['190716'],
       ['190983'],
       ['191533'],
       ['191931'],
       ['192323'],
       ['192448'],
       ['192864'],
       ['193016'],
       ['193292'],
       ['193353'],
       ['193399'],
       ['193654'],
       ['193973'],
       ['194091'],
       ['194161'],
       ['194310'],
       ['194578'],
       ['194958'],
       ['195164'],
       ['195173'],
       ['195243'],
       ['195304'],
       ['195544'],
       ['195720'],
       ['195809'],
       ['196015'],
       ['196033'],
       ['196042'],
       ['196051'],
       ['196060'],
       ['196088'],
       ['196103'],
       ['196112'],
       ['196121'],
       ['196130'],
       ['196149'],
       ['196158'],
       ['196167'],
       ['196176'],
       ['196185'],
       ['196194'],
       ['196219'],
       ['196237'],
       ['196246'],
       ['196291'],
       ['197151'],
       ['197708'],
       ['197869'],
       ['197911'],
       ['197984'],
       ['198109'],
       ['198136'],
       ['198215'],
       ['198303'],
       ['198464'],
       ['198507'],
       ['198516'],
       ['198543'],
       ['198561'],
       ['198598'],
       ['198613'],
       ['198695'],
       ['198756'],
       ['198808'],
       ['198862'],
       ['198950'],
       ['198969'],
       ['199032'],
       ['199069'],
       ['199102'],
       ['199111'],
       ['199139'],
       ['199148'],
       ['199157'],
       ['199184'],
       ['199209'],
       ['199218'],
       ['199272'],
       ['199281'],
       ['199306'],
       ['199412'],
       ['199458'],
       ['199582'],
       ['199607'],
       ['199999'],
       ['200004'],
       ['200059'],
       ['200156'],
       ['200217'],
       ['200226'],
       ['200253'],
       ['200280'],
       ['200332'],
       ['200484'],
       ['200572'],
       ['200800'],
       ['200846'],
       ['201104'],
       ['201195'],
       ['201441'],
       ['201654'],
       ['201821'],
       ['201885'],
       ['202046'],
       ['202134'],
       ['202480'],
       ['202514'],
       ['202763'],
       ['203085'],
       ['203128'],
       ['203368'],
       ['203517'],
       ['203580'],
       ['203757'],
       ['203775'],
       ['203845'],
       ['203960'],
       ['204024'],
       ['204185'],
       ['204194'],
       ['204200'],
       ['204635'],
       ['204857'],
       ['204936'],
       ['205957'],
       ['206084'],
       ['206349'],
       ['206437'],
       ['206491'],
       ['206507'],
       ['206604'],
       ['206613'],
       ['206622'],
       ['206695'],
       ['206817'],
       ['206835'],
       ['207041'],
       ['207157'],
       ['207263'],
       ['207306'],
       ['207324'],
       ['207388'],
       ['207403'],
       ['207458'],
       ['207500'],
       ['207582'],
       ['207722'],
       ['207847'],
       ['207971'],
       ['208822'],
       ['209056'],
       ['209065'],
       ['209409'],
       ['209506'],
       ['209542'],
       ['209551'],
       ['209612'],
       ['209807'],
       ['209825'],
       ['210146'],
       ['210331'],
       ['210429'],
       ['210492'],
       ['210669'],
       ['210739'],
       ['211088'],
       ['211352'],
       ['211361'],
       ['211431'],
       ['211468'],
       ['211583'],
       ['211981'],
       ['212106'],
       ['212115'],
       ['212133'],
       ['212160'],
       ['212197'],
       ['212601'],
       ['212805'],
       ['212832'],
       ['212984'],
       ['213011'],
       ['213020'],
       ['213303'],
       ['213349'],
       ['213358'],
       ['213400'],
       ['213507'],
       ['213598'],
       ['213613'],
       ['213668'],
       ['213774'],
       ['213783'],
       ['213826'],
       ['213996'],
       ['214041'],
       ['214175'],
       ['214272'],
       ['215132'],
       ['215266'],
       ['215275'],
       ['215284'],
       ['215442'],
       ['215594'],
       ['215655'],
       ['215691'],
       ['215743'],
       ['215770'],
       ['215798'],
       ['215929'],
       ['216010'],
       ['216038'],
       ['216357'],
       ['216366'],
       ['216524'],
       ['216694'],
       ['216764'],
       ['216852'],
       ['216931'],
       ['217013'],
       ['217059'],
       ['217165'],
       ['217420'],
       ['217484'],
       ['217688'],
       ['217776'],
       ['217819'],
       ['217864'],
       ['217873'],
       ['217907'],
       ['217925'],
       ['217934'],
       ['217961'],
       ['217998'],
       ['218061'],
       ['218229'],
       ['218238'],
       ['218414'],
       ['218441'],
       ['218539'],
       ['218645'],
       ['218654'],
       ['218663'],
       ['218672'],
       ['218681'],
       ['218690'],
       ['218706'],
       ['218724'],
       ['218733'],
       ['218742'],
       ['218964'],
       ['219000'],
       ['219046'],
       ['219082'],
       ['219091'],
       ['219259'],
       ['219295'],
       ['219356'],
       ['219471'],
       ['219602'],
       ['219639'],
       ['219709'],
       ['219718'],
       ['219806'],
       ['219976'],
       ['220075'],
       ['220181'],
       ['220215'],
       ['220473'],
       ['220516'],
       ['220613'],
       ['220631'],
       ['220701'],
       ['220710'],
       ['220862'],
       ['220978'],
       ['221519'],
       ['221661'],
       ['221731'],
       ['221740'],
       ['221759'],
       ['221847'],
       ['221892'],
       ['221953'],
       ['221971'],
       ['222178'],
       ['222831'],
       ['222983'],
       ['224004'],
       ['224147'],
       ['224226'],
       ['224323'],
       ['224545'],
       ['224554'],
       ['225247'],
       ['225399'],
       ['225414'],
       ['225511'],
       ['225575'],
       ['225627'],
       ['226091'],
       ['226152'],
       ['226231'],
       ['226383'],
       ['226471'],
       ['226587'],
       ['226833'],
       ['227216'],
       ['227331'],
       ['227368'],
       ['227429'],
       ['227526'],
       ['227881'],
       ['228042'],
       ['228149'],
       ['228325'],
       ['228343'],
       ['228431'],
       ['228459'],
       ['228468'],
       ['228501'],
       ['228529'],
       ['228705'],
       ['228723'],
       ['228769'],
       ['228802'],
       ['228875'],
       ['228981'],
       ['229018'],
       ['229027'],
       ['229063'],
       ['229115'],
       ['229160'],
       ['229179'],
       ['229780'],
       ['229814'],
       ['230047'],
       ['230603'],
       ['230728'],
       ['230764'],
       ['230807'],
       ['230834'],
       ['231174'],
       ['231420'],
       ['231581'],
       ['231651'],
       ['232025'],
       ['232043'],
       ['232089'],
       ['232186'],
       ['232256'],
       ['232308'],
       ['232423'],
       ['232557'],
       ['232566'],
       ['232672'],
       ['232681'],
       ['232706'],
       ['232937'],
       ['232982'],
       ['233295'],
       ['233301'],
       ['233426'],
       ['233541'],
       ['233611'],
       ['233718'],
       ['233897'],
       ['233921'],
       ['234030'],
       ['234085'],
       ['234155'],
       ['234164'],
       ['234173'],
       ['234827'],
       ['235097'],
       ['235167'],
       ['235316'],
       ['236133'],
       ['236452'],
       ['236577'],
       ['236595'],
       ['236939'],
       ['237011'],
       ['237066'],
       ['237118'],
       ['237136'],
       ['237181'],
       ['237215'],
       ['237312'],
       ['237330'],
       ['237367'],
       ['237525'],
       ['237640'],
       ['237899'],
       ['237932'],
       ['237950'],
       ['237969'],
       ['238032'],
       ['238078'],
       ['238430'],
       ['238458'],
       ['238476'],
       ['239080'],
       ['239105'],
       ['239390'],
       ['239512'],
       ['239628'],
       ['239716'],
       ['240107'],
       ['240338'],
       ['240727'],
       ['243106'],
       ['243142'],
       ['243151'],
       ['243665'],
       ['262129'],
       ['366711'],
       ['369455'],
       ['377555'],
       ['377564'],
       ['409698'],
       ['433174'],
       ['433660'],
       ['436818'],
       ['436827'],
       ['436836'],
       ['439701'],
       ['440396'],
       ['440828'],
       ['443410'],
       ['445188'],
       ['446048'],
       ['449764'],
       ['451927'],
       ['454184'],
       ['456959'],
       ['459417'],
       ['459949'],
       ['462354'],
       ['463056'],
       ['464226'],
       ['475608'],
       ['476975'],
       ['482149'],
       ['482680'],
       ['484905'],
       ['485698'],
       ['486840'],
       ['486901'],
       ['487524'],
       ['488305'],
       ['488785'],
       ['490805'],
       ['495767']], dtype=object)

In [140]:
test = np.c_[uniIndex, normalizedMatrix]
test

array([['100654', 0.3159733964603765, 0.04813278008298755,
        0.5574346952444742],
       ['100663', 0.2378536805320708, 0.06182572614107884,
        0.4643335565974548],
       ['100706', 0.21079923345733287, 0.04066390041493776,
        0.528131279303416],
       ...,
       ['488785', nan, nan, nan],
       ['490805', 0.27708262879044077, 0.04813278008298755,
        0.608841259209645],
       ['495767', 0.19467929207530155, 0.03941908713692946,
        0.37458137977227063]], dtype=object)

In [ ]:
baseDF['Rating'] = ratingScore

In [ ]:
testQuery = """
SELECT count(*)
FROM baseDF
where rating is not NULL
"""

In [ ]:
output = sqldf(testQuery,locals())
output

apply filters