In [2]:
import sqlite3
import pandas as pd
import numpy as np
from pandasql import sqldf
from geopy.distance import great_circle

In [1]:
import pickle

In [4]:
with open("sample1.pickle", "rb") as file:
    sample1 = pickle.load(file)

In [5]:
sample1

{'user': 'mkjones',
 'limit_match': '6',
 'degree': {'pref': 10, 'val': '5', 'multi': 'N'},
 'sat_math': {'pref': 10, 'val': '650', 'multi': 'N'},
 'sat_cr': {'pref': 10, 'val': '720', 'multi': 'N'},
 'act': {'pref': 10, 'val': '0', 'multi': 'N'},
 'states': {'pref': 10,
  'val': ['MH',
   'MI',
   'MN',
   'MO',
   'MP',
   'MS',
   'MT',
   'NC',
   'ND',
   'NE',
   'NH',
   'NJ',
   'NM',
   'NV',
   'NY',
   'OH',
   'OK',
   'OR',
   'PA',
   'PR',
   'PW',
   'RI',
   'SC',
   'SD',
   'TN'],
  'multi': 'Y'},
 'input_zip': {'pref': '9', 'val': ['30315', '40'], 'multi': 'N'},
 'field': {'pref': '8', 'val': 'Computational Science.', 'multi': 'N'},
 'cost': {'pref': '5', 'val': ['10000', '5'], 'multi': 'N'},
 'salary': {'pref': '7', 'val': '120000', 'multi': 'N'},
 'ar': {'pref': '1', 'val': '30', 'multi': 'N'},
 'gr': {'pref': '3', 'val': '80', 'multi': 'N'},
 'sizes': {'pref': '10', 'val': ['Medium', 'Large'], 'multi': 'Y'},
 'types': {'pref': '9', 'val': ['Public', 'Private Nonprofit'], 'multi': 'Y'},
 'urban': {'pref': '10', 'val': ['City', 'Suburban'], 'multi': 'Y'},
 'missions': {'pref': '10', 'val': [''], 'multi': 'Y'},
 'religs': {'pref': '10', 'val': [''], 'multi': 'Y'}}

In [6]:
with open("sample2.pickle", "rb") as file:
    sample2 = pickle.load(file)

In [7]:
sample2

{'user': 'mkjones',
 'limit_match': '2',
 'degree': {'pref': 10, 'val': '5', 'multi': 'N'},
 'sat_math': {'pref': 10, 'val': '0', 'multi': 'N'},
 'sat_cr': {'pref': 10, 'val': '0', 'multi': 'N'},
 'act': {'pref': 10, 'val': '27', 'multi': 'N'},
 'states': {'pref': 10, 'val': [''], 'multi': 'Y'},
 'input_zip': {'pref': '9', 'val': ['30315', '100'], 'multi': 'N'},
 'field': {'pref': '8', 'val': 'Computational Science.', 'multi': 'N'},
 'cost': {'pref': '5', 'val': ['10000', '5'], 'multi': 'N'},
 'salary': {'pref': '10', 'val': '0', 'multi': 'N'},
 'ar': {'pref': '1', 'val': '30', 'multi': 'N'},
 'gr': {'pref': '3', 'val': '80', 'multi': 'N'},
 'sizes': {'pref': '10', 'val': ['Medium', 'Large'], 'multi': 'Y'},
 'types': {'pref': '9', 'val': ['Public'], 'multi': 'Y'},
 'urban': {'pref': '10', 'val': ['City'], 'multi': 'Y'},
 'missions': {'pref': '10',
  'val': ['Men-Only College', 'Historically Black College and University'],
  'multi': 'Y'},
 'religs': {'pref': '10',
  'val': ['Free Methodist', 'Free Will Baptist Church'],
  'multi': 'Y'}}

In [3]:
import hashlib

In [4]:
conn = sqlite3.connect("cs.db")

In [13]:
cur = conn.cursor()

In [30]:
conn.close()

In [2]:
email = 'mkjones@gatech.edu'

In [10]:
user_id = int(hashlib.sha256(email.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID

In [12]:
user_id2 = int(hashlib.sha256(email.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID

In [13]:
user_id2

9987952

In [14]:
email2 = 'michaelk.jones@outlook.com'
user_id3 = int(hashlib.sha256(email2.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
user_id3

87012218

In [15]:
email3 = 'michaelk.jones@outlook.com'
user_id4 = int(hashlib.sha256(email3.encode('utf-8')).hexdigest(), 16) % 10**8 # generate a unique numeric ID
user_id4

87012218

In [17]:
{'email': email, 'user_id': user_id}

{'email': 'mkjones@gatech.edu', 'user_id': 9987952}

In [19]:
user = pd.DataFrame({'email': [email], 'user_id': [user_id]})
user

                email  user_id
0  mkjones@gatech.edu  9987952

In [20]:
user.to_sql('user',conn,index=False)

In [11]:
[email, user_id]

['mkjones@gatech.edu', 9987952]

In [14]:
pd.read_sql(f"SELECT * FROM user",conn)

                        email   user_id
0          mkjones@gatech.edu   9987952
1       mykek.jones@gmail.com  95829733
2  michaelk.jones@outlook.com  87012218
3             test1@GMAIL.COM  65768313
4             test1@gmail.com  45591513

In [22]:
if pd.read_sql(f"SELECT * FROM user WHERE user_id ={user_id}",conn).empty:
    print("Ready to write")
else:
    print("Email exists")

Email exists

In [27]:
cur.execute(f"INSERT INTO user values('{email3}',{user_id4})")

In [35]:
#Tables on db
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'",conn)

     name
0  fields
1     geo
2    inst
3    user
4   relig

In [7]:
pd.read_sql("SELECT DISTINCT CREDLEV FROM fields",conn)

  CREDLEV
0       3
1       5
2       6
3       8
4       7
5       1
6       2
7       4

In [10]:
pd.read_sql("SELECT DISTINCT CREDLEV,CREDDESC FROM fields order by 1",conn)

  CREDLEV                              CREDDESC
0       1  Undergraduate Certificate or Diploma
1       2                    Associate's Degree
2       3                     Bachelor’s Degree
3       4        Post-baccalaureate Certificate
4       5                       Master's Degree
5       6                       Doctoral Degree
6       7             First Professional Degree
7       8     Graduate/Professional Certificate

In [30]:
pd.read_sql("SELECT DISTINCT RELAFFIL FROM inst order by 1",conn).to_excel('RELAFFIL.xlsx',index=False)

In [31]:
relig = pd.read_excel('RELAFFIL.xlsx')
relig

    RELAFFIL                                       NAME
0        100                 Original Free Will Baptist
1        102                      Evangelical Christian
2        103                               Presbyterian
3        105                            General Baptist
4        107                          Plymouth Brethren
5         22       American Evangelical Lutheran Church
6         24    African Methodist Episcopal Zion Church
7         27                   Assemblies of God Church
8         28                            Brethren Church
9         30                             Roman Catholic
10        33       Wisconsin Evangelical Lutheran Synod
11        34      Christ and Missionary Alliance Church
12        35                  Christian Reformed Church
13        36          Evangelical Congregational Church
14        37     Evangelical Covenant Church of America
15        38         Evangelical Free Church of America
16        39                Evangelical Lutheran Church
17        41                   Free Will Baptist Church
18        42                        Interdenominational
19        43                  Mennonite Brethren Church
20        44                            Moravian Church
21        45                     North American Baptist
22        47                Pentecostal Holiness Church
23        48  Christian Churches and Churches of Christ
24        49                 Reformed Church in America
25        50                 Episcopal Church, Reformed
26        51                African Methodist Episcopal
27        52                           American Baptist
28        54                                    Baptist
29        55              Christian Methodist Episcopal
30        57                              Church of God
31        58                         Church of Brethren
32        59                     Church of the Nazarene
33        60                    Cumberland Presbyterian
34        61     Christian Church (Disciples of Christ)
35        64                             Free Methodist
36        65                                    Friends
37        66                  Presbyterian Church (USA)
38        67                 Lutheran Church in America
39        68           Lutheran Church - Missouri Synod
40        69                           Mennonite Church
41        71                           United Methodist
42        73                       Protestant Episcopal
43        74                         Churches of Christ
44        75                           Southern Baptist
45        76                    United Church of Christ
46        78           Multiple Protestant Denomination
47        79                           Other Protestant
48        80                                     Jewish
49        81               Reformed Presbyterian Church
50        84                     United Brethren Church
51        87                      Missionary Church Inc
52        88                           Undenominational
53        89                                   Wesleyan
54        91                             Greek Orthodox
55        92                           Russian Orthodox
56        93                     Unitarian Universalist
57        94          Latter Day Saints (Mormon Church)
58        95                     Seventh Day Adventists
59        97         The Presbyterian Church in America

In [33]:
relig.to_sql('relig',conn,if_exists='replace',index=False)

In [34]:
conn.commit()

In [16]:
# cur.execute("DROP TABLE ncaa")
# conn.commit()

In [1]:
inst = pd.read_sql("SELECT * FROM inst",conn)

NameError: name 'pd' is not defined

In [40]:
fields = pd.read_sql("SELECT * FROM fields",conn)

In [23]:
states = list(pd.read_sql("SELECT DISTINCT STABBR FROM inst ORDER BY 1",conn).STABBR)
states.insert(0, '')
states

['',
 'AK',
 'AL',
 'AR',
 'AS',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'FM',
 'GA',
 'GU',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MH',
 'MI',
 'MN',
 'MO',
 'MP',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'PR',
 'PW',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VI',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [27]:
list(pd.read_sql("SELECT DISTINCT CIPDESC FROM fields ORDER BY 1",conn).CIPDESC)

['Accounting and Computer Science.',
 'Accounting and Related Services.',
 'Advanced/Graduate Dentistry and Oral Sciences.',
 'Aerospace, Aeronautical and Astronautical Engineering.',
 'African Languages, Literatures, and Linguistics.',
 'Agricultural Business and Management.',
 'Agricultural Engineering.',
 'Agricultural Mechanization.',
 'Agricultural Production Operations.',
 'Agricultural Public Services.',
 'Agricultural and Domestic Animal Services.',
 'Agricultural and Food Products Processing.',
 'Agriculture, Agriculture Operations, and Related Sciences, Other.',
 'Agriculture, General.',
 'Agriculture/Veterinary Preparatory Programs.',
 'Air Force ROTC, Air Science and Operations.',
 'Air Transportation.',
 'Allied Health Diagnostic, Intervention, and Treatment Professions.',
 'Allied Health and Medical Assisting Services.',
 'Alternative and Complementary Medical Support Services.',
 'Alternative and Complementary Medicine and Medical Systems.',
 'American Indian/Native American Languages, Literatures, and Linguistics.',
 'American Sign Language.',
 'Animal Sciences.',
 'Anthropology.',
 'Apparel and Textiles.',
 'Applied Horticulture and Horticultural Business Services.',
 'Applied Mathematics.',
 'Applied Statistics.',
 'Archeology.',
 'Architectural Engineering Technologies/Technicians.',
 'Architectural Engineering.',
 'Architectural History and Criticism.',
 'Architectural Sciences and Technology.',
 'Architecture and Related Services, Other.',
 'Architecture.',
 'Area Studies.',
 'Army ROTC, Military Science and Operations.',
 'Arts, Entertainment,and Media Management.',
 'Astronomy and Astrophysics.',
 'Atmospheric Sciences and Meteorology.',
 'Audiovisual Communications Technologies/Technicians.',
 'Basic Skills and Developmental/Remedial Education.',
 'Behavioral Sciences.',
 'Bible/Biblical Studies.',
 'Bilingual, Multilingual, and Multicultural Education.',
 'Biochemical Engineering.',
 'Biochemistry, Biophysics and Molecular Biology.',
 'Bioethics/Medical Ethics.',
 'Biological and Biomedical Sciences, Other.',
 'Biological and Physical Sciences.',
 'Biological/Biosystems Engineering.',
 'Biology Technician/Biotechnology Laboratory Technician.',
 'Biology, General.',
 'Biomathematics, Bioinformatics, and Computational Biology.',
 'Biomedical/Medical Engineering.',
 'Biopsychology.',
 'Biotechnology.',
 'Boilermaking/Boilermaker.',
 'Botany/Plant Biology.',
 'Building/Construction Finishing, Management, and Inspection.',
 'Business Administration, Management and Operations.',
 'Business Operations Support and Assistant Services.',
 'Business, Management, Marketing, and Related Support Services, Other.',
 'Business/Commerce, General.',
 'Business/Corporate Communications.',
 'Business/Managerial Economics.',
 'Carpenters.',
 'Cell/Cellular Biology and Anatomical Sciences.',
 'Celtic Languages, Literatures, and Linguistics.',
 'Ceramic Sciences and Engineering.',
 'Chemical Engineering.',
 'Chemistry.',
 'Chiropractic.',
 'Citizenship Activities.',
 'City/Urban, Community and Regional Planning.',
 'Civil Engineering Technologies/Technicians.',
 'Civil Engineering.',
 'Classical and Ancient Studies.',
 'Classics and Classical Languages, Literatures, and Linguistics.',
 'Clinical Psychology.',
 'Clinical, Counseling and Applied Psychology.',
 'Clinical/Medical Laboratory Science/Research and Allied Professions.',
 'Cognitive Science.',
 'Communication Disorders Sciences and Services.',
 'Communication and Media Studies.',
 'Communication, Journalism, and Related Programs, Other.',
 'Communications Technologies/Technicians and Support Services, Other.',
 'Communications Technology/Technician.',
 'Community Organization and Advocacy.',
 'Community Psychology.',
 'Computational Science.',
 'Computer Engineering Technologies/Technicians.',
 'Computer Engineering.',
 'Computer Programming.',
 'Computer Science.',
 'Computer Software and Media Applications.',
 'Computer Systems Analysis.',
 'Computer Systems Networking and Telecommunications.',
 'Computer and Information Sciences and Support Services, Other.',
 'Computer and Information Sciences, General.',
 'Computer/Information Technology Administration and Management.',
 'Construction Engineering Technologies.',
 'Construction Engineering.',
 'Construction Management.',
 'Construction Trades, General.',
 'Construction Trades, Other.',
 'Cosmetology and Related Personal Grooming Services.',
 'Crafts/Craft Design, Folk Art and Artisanry.',
 'Criminal Justice and Corrections.',
 'Criminology.',
 'Culinary Arts and Related Services.',
 'Cultural Studies/Critical Theory and Analysis.',
 'Curriculum and Instruction.',
 'Dance.',
 'Data Entry/Microcomputer Applications.',
 'Data Processing.',
 'Demography and Population Studies.',
 'Dental Residency Programs.',
 'Dental Support Services and Allied Professions.',
 'Dentistry.',
 'Design and Applied Arts.',
 'Dietetics and Clinical Nutrition Services.',
 'Dispute Resolution.',
 'Drafting/Design Engineering Technologies/Technicians.',
 'Drama/Theatre Arts and Stagecraft.',
 'East Asian Languages, Literatures, and Linguistics.',
 'Ecology, Evolution, Systematics, and Population Biology.',
 'Economics.',
 'Education, General.',
 'Education, Other.',
 'Educational Administration and Supervision.',
 'Educational Assessment, Evaluation, and Research.',
 'Educational/Instructional Media Design.',
 'Electrical Engineering Technologies/Technicians.',
 'Electrical and Power Transmission Installers.',
 'Electrical, Electronics and Communications Engineering.',
 'Electrical/Electronics Maintenance and Repair Technology.',
 'Electromechanical Engineering.',
 'Electromechanical Instrumentation and Maintenance Technologies/Technicians.',
 'Energy Systems Technologies/Technicians.',
 'Energy and Biologically Based Therapies.',
 'Engineering Chemistry.',
 'Engineering Mechanics.',
 'Engineering Physics.',
 'Engineering Science.',
 'Engineering Technologies/Technicians, Other.',
 'Engineering Technology, General.',
 'Engineering, General.',
 'Engineering, Other.',
 'Engineering-Related Fields.',
 'Engineering-Related Technologies.',
 'English Language and Literature, General.',
 'English Language and Literature/Letters, Other.',
 'Entrepreneurial and Small Business Operations.',
 'Environmental Control Technologies/Technicians.',
 'Environmental Design.',
 'Environmental/Environmental Health Engineering.',
 'Ethnic, Cultural Minority, Gender, and Group Studies.',
 'Family and Consumer Economics and Related Studies.',
 'Family and Consumer Sciences/Human Sciences Business Services.',
 'Family and Consumer Sciences/Human Sciences, General.',
 'Family and Consumer Sciences/Human Sciences, Other.',
 'Film/Video and Photographic Arts.',
 'Finance and Financial Management Services.',
 'Fine and Studio Arts.',
 'Fire Protection.',
 'Fishing and Fisheries Sciences and Management.',
 'Food Science and Technology.',
 'Foods, Nutrition, and Related Services.',
 'Foreign Languages, Literatures, and Linguistics, Other.',
 'Forest Engineering.',
 'Forestry.',
 'Funeral Service and Mortuary Science.',
 'General Sales, Merchandising and Related Marketing Operations.',
 'Genetics.',
 'Geography and Cartography.',
 'Geological and Earth Sciences/Geosciences.',
 'Geological/Geophysical Engineering.',
 'Germanic Languages, Literatures, and Linguistics.',
 'Gerontology.',
 'Graphic Communications.',
 'Ground Transportation.',
 'Health Aides/Attendants/Orderlies.',
 'Health Professions and Related Clinical Sciences, Other.',
 'Health Services/Allied Health/Health Sciences, General.',
 'Health and Medical Administrative Services.',
 'Health and Physical Education/Fitness.',
 'Health-Related Knowledge and Skills.',
 'Health/Medical Preparatory Programs.',
 'Heating, Air Conditioning, Ventilation and Refrigeration Maintenance Technology/Technician (HAC, HACR, HVAC, HVACR).',
 'Heavy/Industrial Equipment Maintenance Technologies.',
 'High School/Secondary Certificate Programs.',
 'High School/Secondary Diploma Programs.',
 'Historic Preservation and Conservation.',
 'History and Language/Literature.',
 'History.',
 'Holocaust and Related Studies.',
 'Homeland Security, Law Enforcement, Firefighting and Related Protective Services, Other.',
 'Homeland Security.',
 'Hospitality Administration/Management.',
 'Housing and Human Environments.',
 'Human Biology.',
 'Human Computer Interaction.',
 'Human Development, Family Studies, and Related Services.',
 'Human Resources Management and Services.',
 'Human Services, General.',
 'Industrial Engineering.',
 'Industrial Production Technologies/Technicians.',
 'Information Science/Studies.',
 'Insurance.',
 'Intelligence, Command Control and Information Operations.',
 'Intercultural/Multicultural and Diversity Studies.',
 'Interior Architecture.',
 'International Agriculture.',
 'International Business.',
 'International Relations and National Security Studies.',
 'International and Comparative Education.',
 'International/Global Studies.',
 'Interpersonal and Social Skills.',
 'Iranian/Persian Languages, Literatures, and Linguistics.',
 'Journalism.',
 'Landscape Architecture.',
 'Law.',
 'Leatherworking and Upholstery.',
 'Legal Professions and Studies, Other.',
 'Legal Research and Advanced Professional Studies.',
 'Legal Support Services.',
 'Leisure and Recreational Activities.',
 'Liberal Arts and Sciences, General Studies and Humanities.',
 'Library Science and Administration.',
 'Library Science, Other.',
 'Library and Archives Assisting.',
 'Linguistic, Comparative, and Related Language Studies and Services.',
 'Literature.',
 'Management Information Systems and Services.',
 'Management Sciences and Quantitative Methods.',
 'Manufacturing Engineering.',
 'Marine Sciences.',
 'Marine Transportation.',
 'Maritime Studies.',
 'Marketing.',
 'Mason/Masonry.',
 'Materials Engineering',
 'Materials Sciences.',
 'Mathematics and Computer Science.',
 'Mathematics and Statistics, Other.',
 'Mathematics.',
 'Mechanic and Repair Technologies/Technicians, Other.',
 'Mechanical Engineering Related Technologies/Technicians.',
 'Mechanical Engineering.',
 'Mechanics and Repairers, General.',
 'Mechatronics, Robotics, and Automation Engineering.',
 'Medical Clinical Sciences/Graduate Medical Studies.',
 'Medical Illustration and Informatics.',
 'Medical Residency Programs - General Certificates.',
 'Medical Residency Programs - Subspecialty Certificates.',
 'Medicine.',
 'Medieval and Renaissance Studies.',
 'Mental and Social Health Services and Allied Professions.',
 'Metallurgical Engineering.',
 'Microbiological Sciences and Immunology.',
 'Middle/Near Eastern and Semitic Languages, Literatures, and Linguistics.',
 'Military Applied Sciences.',
 'Military Science and Operational Studies.',
 'Military Systems and Maintenance Technology.',
 'Military Technologies and Applied Sciences, Other.',
 'Mining and Mineral Engineering.',
 'Mining and Petroleum Technologies/Technicians.',
 'Missions/Missionary Studies and Missiology.',
 'Modern Greek Language and Literature.',
 'Molecular Medicine.',
 'Movement and Mind-Body Therapies and Education.',
 'Multi-/Interdisciplinary Studies, General.',
 'Multi/Interdisciplinary Studies, Other.',
 'Museology/Museum Studies.',
 'Music.',
 'Nanotechnology.',
 'Natural Resources Conservation and Research.',
 'Natural Resources Management and Policy.',
 'Natural Resources and Conservation, Other.',
 'Natural Sciences.',
 'Naval Architecture and Marine Engineering.',
 'Neurobiology and Neurosciences.',
 'Non-Professional General Legal Studies (Undergraduate).',
 'Noncommercial Vehicle Operation.',
 'Nuclear Engineering Technologies/Technicians.',
 'Nuclear Engineering.',
 'Nuclear and Industrial Radiologic Technologies/Technicians.',
 'Nursing.',
 'Nutrition Sciences.',
 'Ocean Engineering.',
 'Operations Research.',
 'Ophthalmic and Optometric Support Services and Allied Professions.',
 'Optometry.',
 'Osteopathic Medicine/Osteopathy.',
 'Outdoor Education.',
 'Paper Science and Engineering.',
 'Parks, Recreation and Leisure Facilities Management.',
 'Parks, Recreation and Leisure Studies.',
 'Parks, Recreation, Leisure, and Fitness Studies, Other.',
 'Pastoral Counseling and Specialized Ministries.',
 'Peace Studies and Conflict Resolution.',
 'Personal Awareness and Self-Improvement.',
 'Personal and Culinary Services, Other.',
 'Petroleum Engineering.',
 'Pharmacology and Toxicology.',
 'Pharmacy, Pharmaceutical Sciences, and Administration.',
 'Philosophy and Religious Studies, General.',
 'Philosophy and Religious Studies, Other.',
 'Philosophy.',
 'Physical Science Technologies/Technicians.',
 'Physical Sciences, Other.',
 'Physical Sciences.',
 'Physics and Astronomy.',
 'Physics.',
 'Physiology, Pathology and Related Sciences.',
 'Plant Sciences.',
 'Plumbing and Related Water Supply Services.',
 'Podiatric Medicine/Podiatry.',
 'Political Science and Government.',
 'Polymer/Plastics Engineering.',
 'Practical Nursing, Vocational Nursing and Nursing Assistants.',
 'Precision Metal Working.',
 'Precision Production Trades, General.',
 'Precision Production, Other.',
 'Precision Systems Maintenance and Repair Technologies.',
 'Psychology, General.',
 'Psychology, Other.',
 'Public Administration and Social Service Professions, Other.',
 'Public Administration.',
 'Public Health.',
 'Public Policy Analysis.',
 'Public Relations, Advertising, and Applied Communication.',
 'Publishing.',
 'Quality Control and Safety Technologies/Technicians.',
 'Radio, Television, and Digital Communication.',
 'Radiology Residency/Fellowship Programs.',
 'Real Estate Development.',
 'Real Estate.',
 'Registered Nursing, Nursing Administration, Nursing Research and Clinical Nursing.',
 'Rehabilitation and Therapeutic Professions.',
 'Religion/Religious Studies.',
 'Religious Education.',
 'Religious/Sacred Music.',
 'Research and Experimental Psychology.',
 'Rhetoric and Composition/Writing Studies.',
 'Romance Languages, Literatures, and Linguistics.',
 'Rural Sociology.',
 'Science Technologies/Technicians, General.',
 'Science Technologies/Technicians, Other.',
 'Science, Technology and Society.',
 'Security Policy and Strategy.',
 'Security Science and Technology.',
 'Slavic, Baltic and Albanian Languages, Literatures, and Linguistics.',
 'Social Sciences, General.',
 'Social Sciences, Other.',
 'Social Work.',
 'Social and Philosophical Foundations of Education.',
 'Sociology and Anthropology.',
 'Sociology.',
 'Soil Sciences.',
 'Somatic Bodywork and Related Therapeutic Services.',
 'South Asian Languages, Literatures, and Linguistics.',
 'Southeast Asian and Australasian/Pacific Languages, Literatures, and Linguistics.',
 'Special Education and Teaching.',
 'Specialized Sales, Merchandising and  Marketing Operations.',
 'Statistics.',
 'Student Counseling and Personnel Services.',
 'Surveying Engineering.',
 'Sustainability Studies.',
 'Systems Engineering.',
 'Systems Science and Theory.',
 'Taxation.',
 'Teacher Education and Professional Development, Specific Levels and Methods.',
 'Teacher Education and Professional Development, Specific Subject Areas.',
 'Teaching Assistants/Aides.',
 'Teaching English or French as a Second or Foreign Language.',
 'Telecommunications Management.',
 'Textile Sciences and Engineering.',
 'Theological and Ministerial Studies.',
 'Theology and Religious Vocations, Other.',
 'Transportation and Materials Moving, Other.',
 'Turkic, Uralic-Altaic, Caucasian, and Central Asian Languages, Literatures, and Linguistics.',
 'Urban Studies/Affairs.',
 'Vehicle Maintenance and Repair Technologies.',
 'Veterinary Biomedical and Clinical Sciences.',
 'Veterinary Medicine.',
 'Veterinary Residency Programs.',
 'Veterinary/Animal Health Technologies/Technicians.',
 'Visual and Performing Arts, General.',
 'Visual and Performing Arts, Other.',
 'Wildlife and Wildlands Science and Management.',
 'Woodworking.',
 'Work and Family Studies.',
 'Zoology/Animal Biology.']

In [20]:
list(inst.columns)

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'INSTURL',
 'NPCURL',
 'HCM2',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'LOCALE',
 'LATITUDE',
 'LONGITUDE',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'ACTCM25',
 'ACTCM75',
 'DISTANCEONLY',
 'UGDS',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'PPTUG_EF',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'MD_EARN_WNE_P10',
 'C200_L4_POOLED_SUPP',
 'C200_4_POOLED_SUPP',
 'RET_FT4_POOLED_SUPP',
 'RET_FTL4_POOLED_SUPP',
 'RET_PT4_POOLED_SUPP',
 'RET_PTL4_POOLED_SUPP',
 'OMAWDP8_FTFT_POOLED_SUPP',
 'OMENRYP8_FTFT_POOLED_SUPP',
 'OMENRAP8_FTFT_POOLED_SUPP',
 'OMENRUP8_FTFT_POOLED_SUPP',
 'OMAWDP8_PTFT_POOLED_SUPP',
 'OMENRYP8_PTFT_POOLED_SUPP',
 'OMENRAP8_PTFT_POOLED_SUPP',
 'OMENRUP8_PTFT_POOLED_SUPP',
 'OMAWDP8_FTNFT_POOLED_SUPP',
 'OMENRYP8_FTNFT_POOLED_SUPP',
 'OMENRAP8_FTNFT_POOLED_SUPP',
 'OMENRUP8_FTNFT_POOLED_SUPP',
 'OMAWDP8_PTNFT_POOLED_SUPP',
 'OMENRYP8_PTNFT_POOLED_SUPP',
 'OMENRAP8_PTNFT_POOLED_SUPP',
 'OMENRUP8_PTNFT_POOLED_SUPP',
 'OPEFLAG',
 'OMENRYP_ALL_POOLED_SUPP',
 'OMENRAP_ALL_POOLED_SUPP',
 'OMAWDP8_ALL_POOLED_SUPP',
 'OMENRUP_ALL_POOLED_SUPP',
 'OMENRYP_FIRSTTIME_POOLED_SUPP',
 'OMENRAP_FIRSTTIME_POOLED_SUPP',
 'OMAWDP8_FIRSTTIME_POOLED_SUPP',
 'OMENRUP_FIRSTTIME_POOLED_SUPP',
 'OMENRYP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRAP_NOTFIRSTTIME_POOLED_SUPP',
 'OMAWDP8_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRUP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRYP_FULLTIME_POOLED_SUPP',
 'OMENRAP_FULLTIME_POOLED_SUPP',
 'OMAWDP8_FULLTIME_POOLED_SUPP',
 'OMENRUP_FULLTIME_POOLED_SUPP',
 'OMENRYP_PARTTIME_POOLED_SUPP',
 'OMENRAP_PARTTIME_POOLED_SUPP',
 'OMAWDP8_PARTTIME_POOLED_SUPP',
 'OMENRUP_PARTTIME_POOLED_SUPP',
 'FTFTPCTPELL_POOLED_SUPP',
 'FTFTPCTFLOAN_POOLED_SUPP',
 'PPLUS_PCT_LOW',
 'PPLUS_PCT_HIGH',
 'PLUS_DEBT_INST_COMP_MD_SUPP',
 'PLUS_DEBT_INST_COMP_MDPAY10_SUPP',
 'PLUS_DEBT_ALL_COMP_MD_SUPP',
 'PLUS_DEBT_ALL_COMP_MDPAY10_SUPP',
 'BBRR2_FED_UG_N_SUPP',
 'BBRR2_FED_UG_DFLT_SUPP',
 'BBRR2_FED_UG_DLNQ_SUPP',
 'BBRR2_FED_UG_FBR_SUPP',
 'BBRR2_FED_UG_DFR_SUPP',
 'BBRR2_FED_UG_NOPROG_SUPP',
 'BBRR2_FED_UG_MAKEPROG_SUPP',
 'BBRR2_FED_UG_PAIDINFULL_SUPP',
 'BBRR2_FED_UG_DISCHARGE_SUPP',
 'BBRR2_FED_UGCOMP_N_SUPP',
 'BBRR2_FED_UGCOMP_DFLT_SUPP',
 'BBRR2_FED_UGCOMP_DLNQ_SUPP',
 'BBRR2_FED_UGCOMP_FBR_SUPP',
 'BBRR2_FED_UGCOMP_DFR_SUPP',
 'BBRR2_FED_UGCOMP_NOPROG_SUPP',
 'BBRR2_FED_UGCOMP_MAKEPROG_SUPP',
 'BBRR2_FED_UGCOMP_PAIDINFULL_SUPP',
 'BBRR2_FED_UGCOMP_DISCHARGE_SUPP',
 'DOLPROVIDER',
 'ADMCON7',
 'MDCOMP_PD',
 'MDCOST_PD',
 'MDEARN_PD',
 'MDCOMP_ALL',
 'MDCOST_ALL',
 'MDEARN_ALL',
 'C150_L4_PELL_POOLED_SUPP',
 'C150_4_PELL_POOLED_SUPP',
 'OMAWDP8_PELL_FTFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTFT_POOLED_SUPP',
 'OMAWDP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTNFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP_PELL_ALL_POOLED_SUPP',
 'OMENRAP_PELL_ALL_POOLED_SUPP',
 'OMAWDP8_PELL_ALL_POOLED_SUPP',
 'OMENRUP_PELL_ALL_POOLED_SUPP',
 'OMENRYP_PELL_FTT_POOLED_SUPP',
 'OMENRAP_PELL_FTT_POOLED_SUPP',
 'OMAWDP8_PELL_FTT_POOLED_SUPP',
 'OMENRUP_PELL_FTT_POOLED_SUPP',
 'OMENRYP_PELL_NFT_POOLED_SUPP',
 'OMENRAP_PELL_NFT_POOLED_SUPP',
 'OMAWDP8_PELL_NFT_POOLED_SUPP',
 'OMENRUP_PELL_NFT_POOLED_SUPP',
 'OMENRYP_PELL_FT_POOLED_SUPP',
 'OMENRAP_PELL_FT_POOLED_SUPP',
 'OMAWDP8_PELL_FT_POOLED_SUPP',
 'OMENRUP_PELL_FT_POOLED_SUPP',
 'OMENRYP_PELL_PT_POOLED_SUPP',
 'OMENRAP_PELL_PT_POOLED_SUPP',
 'OMAWDP8_PELL_PT_POOLED_SUPP',
 'OMENRUP_PELL_PT_POOLED_SUPP',
 'GT_THRESHOLD_P6_SUPP']

In [45]:
sqldf("""SELECT RANK() OVER (PARTITION BY STABBR ORDER BY INSTNM) as RANK, INSTNM, CITY, STABBR,
 INSTURL, SATVR25, SATVR75, ACTCM25, ACTCM75
FROM inst
LIMIT 5""")#.to_excel('table.xlsx',index=False)

In [32]:
#PK UNITID, OPEID6, CIPCODE, CREDLEV --
sqldf("""SELECT * 
FROM fields
LIMIT 5""")

,UNITID,OPEID6,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT2,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_STGP_EVAL_MDN,DEBT_ALL_STGP_ANY_MDN10YRPAY,DEBT_ALL_STGP_EVAL_MDN10YRPAY,EARN_NE_MDN_3YR
0,100654,001002,1,0100,"Agriculture, General.",3,Bachelor’s Degree,None,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
1,100654,001002,1,0109,Animal Sciences.,3,Bachelor’s Degree,6,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
2,100654,001002,1,0110,Food Science and Technology.,3,Bachelor’s Degree,7,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
3,100654,001002,1,0110,Food Science and Technology.,5,Master's Degree,8,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
4,100654,001002,1,0110,Food Science and Technology.,6,Doctoral Degree,2,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed

In [41]:
fields.shape

(215896, 13)

In [43]:
sqldf("""SELECT DISTINCT UNITID, CIPCODE, CREDLEV 
FROM fields""").shape

(215896, 3)

In [42]:
sqldf("""SELECT UNITID, CIPCODE, CREDLEV, count(OPEID6)
FROM fields
GROUP BY UNITID, CIPCODE, CREDLEV
HAVING count(OPEID6)>1
""")

Empty DataFrame
Columns: [UNITID, CIPCODE, CREDLEV, count(OPEID6)]
Index: []

In [37]:
dup = sqldf("""SELECT *
FROM fields
WHERE UNITID = 423652
and CIPCODE = 5138
and CREDLEV = 2
""")
dup

,UNITID,OPEID6,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT2,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_STGP_EVAL_MDN,DEBT_ALL_STGP_ANY_MDN10YRPAY,DEBT_ALL_STGP_EVAL_MDN10YRPAY,EARN_NE_MDN_3YR
0,423652,003213,0,5138,"Registered Nursing, Nursing Administration, Nu...",2,Associate's Degree,16,33949,19935,339,199,80297
1,423652,042837,1,5138,"Registered Nursing, Nursing Administration, Nu...",2,Associate's Degree,None,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed

In [38]:
cur.execute("""DELETE FROM fields
            WHERE UNITID = 423652
and CIPCODE = 5138
and CREDLEV = 2
and MAIN = 1""")
conn.commit()

In [ ]:
'NPCURL',
 'HCM2',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'LOCALE',
 'LATITUDE',
 'LONGITUDE',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'ACTCM25',
 'ACTCM75',
 'DISTANCEONLY',
 'UGDS',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'PPTUG_EF',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'MD_EARN_WNE_P10',
 'C200_L4_POOLED_SUPP',
 'C200_4_POOLED_SUPP',
 'RET_FT4_POOLED_SUPP',
 'RET_FTL4_POOLED_SUPP',
 'RET_PT4_POOLED_SUPP',
 'RET_PTL4_POOLED_SUPP',
 'OMAWDP8_FTFT_POOLED_SUPP',
 'OMENRYP8_FTFT_POOLED_SUPP',
 'OMENRAP8_FTFT_POOLED_SUPP',
 'OMENRUP8_FTFT_POOLED_SUPP',
 'OMAWDP8_PTFT_POOLED_SUPP',
 'OMENRYP8_PTFT_POOLED_SUPP',
 'OMENRAP8_PTFT_POOLED_SUPP',
 'OMENRUP8_PTFT_POOLED_SUPP',
 'OMAWDP8_FTNFT_POOLED_SUPP',
 'OMENRYP8_FTNFT_POOLED_SUPP',
 'OMENRAP8_FTNFT_POOLED_SUPP',
 'OMENRUP8_FTNFT_POOLED_SUPP',
 'OMAWDP8_PTNFT_POOLED_SUPP',
 'OMENRYP8_PTNFT_POOLED_SUPP',
 'OMENRAP8_PTNFT_POOLED_SUPP',
 'OMENRUP8_PTNFT_POOLED_SUPP',
 'OPEFLAG',
 'OMENRYP_ALL_POOLED_SUPP',
 'OMENRAP_ALL_POOLED_SUPP',
 'OMAWDP8_ALL_POOLED_SUPP',
 'OMENRUP_ALL_POOLED_SUPP',
 'OMENRYP_FIRSTTIME_POOLED_SUPP',
 'OMENRAP_FIRSTTIME_POOLED_SUPP',
 'OMAWDP8_FIRSTTIME_POOLED_SUPP',
 'OMENRUP_FIRSTTIME_POOLED_SUPP',
 'OMENRYP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRAP_NOTFIRSTTIME_POOLED_SUPP',
 'OMAWDP8_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRUP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRYP_FULLTIME_POOLED_SUPP',
 'OMENRAP_FULLTIME_POOLED_SUPP',
 'OMAWDP8_FULLTIME_POOLED_SUPP',
 'OMENRUP_FULLTIME_POOLED_SUPP',
 'OMENRYP_PARTTIME_POOLED_SUPP',
 'OMENRAP_PARTTIME_POOLED_SUPP',
 'OMAWDP8_PARTTIME_POOLED_SUPP',
 'OMENRUP_PARTTIME_POOLED_SUPP',
 'FTFTPCTPELL_POOLED_SUPP',
 'FTFTPCTFLOAN_POOLED_SUPP',
 'PPLUS_PCT_LOW',
 'PPLUS_PCT_HIGH',
 'PLUS_DEBT_INST_COMP_MD_SUPP',
 'PLUS_DEBT_INST_COMP_MDPAY10_SUPP',
 'PLUS_DEBT_ALL_COMP_MD_SUPP',
 'PLUS_DEBT_ALL_COMP_MDPAY10_SUPP',
 'BBRR2_FED_UG_N_SUPP',
 'BBRR2_FED_UG_DFLT_SUPP',
 'BBRR2_FED_UG_DLNQ_SUPP',
 'BBRR2_FED_UG_FBR_SUPP',
 'BBRR2_FED_UG_DFR_SUPP',
 'BBRR2_FED_UG_NOPROG_SUPP',
 'BBRR2_FED_UG_MAKEPROG_SUPP',
 'BBRR2_FED_UG_PAIDINFULL_SUPP',
 'BBRR2_FED_UG_DISCHARGE_SUPP',
 'BBRR2_FED_UGCOMP_N_SUPP',
 'BBRR2_FED_UGCOMP_DFLT_SUPP',
 'BBRR2_FED_UGCOMP_DLNQ_SUPP',
 'BBRR2_FED_UGCOMP_FBR_SUPP',
 'BBRR2_FED_UGCOMP_DFR_SUPP',
 'BBRR2_FED_UGCOMP_NOPROG_SUPP',
 'BBRR2_FED_UGCOMP_MAKEPROG_SUPP',
 'BBRR2_FED_UGCOMP_PAIDINFULL_SUPP',
 'BBRR2_FED_UGCOMP_DISCHARGE_SUPP',
 'DOLPROVIDER',
 'ADMCON7',
 'MDCOMP_PD',
 'MDCOST_PD',
 'MDEARN_PD',
 'MDCOMP_ALL',
 'MDCOST_ALL',
 'MDEARN_ALL',
 'C150_L4_PELL_POOLED_SUPP',
 'C150_4_PELL_POOLED_SUPP',
 'OMAWDP8_PELL_FTFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTFT_POOLED_SUPP',
 'OMAWDP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTNFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP_PELL_ALL_POOLED_SUPP',
 'OMENRAP_PELL_ALL_POOLED_SUPP',
 'OMAWDP8_PELL_ALL_POOLED_SUPP',
 'OMENRUP_PELL_ALL_POOLED_SUPP',
 'OMENRYP_PELL_FTT_POOLED_SUPP',
 'OMENRAP_PELL_FTT_POOLED_SUPP',
 'OMAWDP8_PELL_FTT_POOLED_SUPP',
 'OMENRUP_PELL_FTT_POOLED_SUPP',
 'OMENRYP_PELL_NFT_POOLED_SUPP',
 'OMENRAP_PELL_NFT_POOLED_SUPP',
 'OMAWDP8_PELL_NFT_POOLED_SUPP',
 'OMENRUP_PELL_NFT_POOLED_SUPP',
 'OMENRYP_PELL_FT_POOLED_SUPP',
 'OMENRAP_PELL_FT_POOLED_SUPP',
 'OMAWDP8_PELL_FT_POOLED_SUPP',
 'OMENRUP_PELL_FT_POOLED_SUPP',
 'OMENRYP_PELL_PT_POOLED_SUPP',
 'OMENRAP_PELL_PT_POOLED_SUPP',
 'OMAWDP8_PELL_PT_POOLED_SUPP',
 'OMENRUP_PELL_PT_POOLED_SUPP',
 'GT_THRESHOLD_P6_SUPP'

# Geocoding

In [7]:
geo = pd.read_sql("SELECT * FROM geo",conn)

In [9]:
list(inst.columns)

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'INSTURL',
 'NPCURL',
 'HCM2',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'LOCALE',
 'LATITUDE',
 'LONGITUDE',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'ACTCM25',
 'ACTCM75',
 'DISTANCEONLY',
 'UGDS',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'PPTUG_EF',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'MD_EARN_WNE_P10',
 'C200_L4_POOLED_SUPP',
 'C200_4_POOLED_SUPP',
 'RET_FT4_POOLED_SUPP',
 'RET_FTL4_POOLED_SUPP',
 'RET_PT4_POOLED_SUPP',
 'RET_PTL4_POOLED_SUPP',
 'OMAWDP8_FTFT_POOLED_SUPP',
 'OMENRYP8_FTFT_POOLED_SUPP',
 'OMENRAP8_FTFT_POOLED_SUPP',
 'OMENRUP8_FTFT_POOLED_SUPP',
 'OMAWDP8_PTFT_POOLED_SUPP',
 'OMENRYP8_PTFT_POOLED_SUPP',
 'OMENRAP8_PTFT_POOLED_SUPP',
 'OMENRUP8_PTFT_POOLED_SUPP',
 'OMAWDP8_FTNFT_POOLED_SUPP',
 'OMENRYP8_FTNFT_POOLED_SUPP',
 'OMENRAP8_FTNFT_POOLED_SUPP',
 'OMENRUP8_FTNFT_POOLED_SUPP',
 'OMAWDP8_PTNFT_POOLED_SUPP',
 'OMENRYP8_PTNFT_POOLED_SUPP',
 'OMENRAP8_PTNFT_POOLED_SUPP',
 'OMENRUP8_PTNFT_POOLED_SUPP',
 'OPEFLAG',
 'OMENRYP_ALL_POOLED_SUPP',
 'OMENRAP_ALL_POOLED_SUPP',
 'OMAWDP8_ALL_POOLED_SUPP',
 'OMENRUP_ALL_POOLED_SUPP',
 'OMENRYP_FIRSTTIME_POOLED_SUPP',
 'OMENRAP_FIRSTTIME_POOLED_SUPP',
 'OMAWDP8_FIRSTTIME_POOLED_SUPP',
 'OMENRUP_FIRSTTIME_POOLED_SUPP',
 'OMENRYP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRAP_NOTFIRSTTIME_POOLED_SUPP',
 'OMAWDP8_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRUP_NOTFIRSTTIME_POOLED_SUPP',
 'OMENRYP_FULLTIME_POOLED_SUPP',
 'OMENRAP_FULLTIME_POOLED_SUPP',
 'OMAWDP8_FULLTIME_POOLED_SUPP',
 'OMENRUP_FULLTIME_POOLED_SUPP',
 'OMENRYP_PARTTIME_POOLED_SUPP',
 'OMENRAP_PARTTIME_POOLED_SUPP',
 'OMAWDP8_PARTTIME_POOLED_SUPP',
 'OMENRUP_PARTTIME_POOLED_SUPP',
 'FTFTPCTPELL_POOLED_SUPP',
 'FTFTPCTFLOAN_POOLED_SUPP',
 'PPLUS_PCT_LOW',
 'PPLUS_PCT_HIGH',
 'PLUS_DEBT_INST_COMP_MD_SUPP',
 'PLUS_DEBT_INST_COMP_MDPAY10_SUPP',
 'PLUS_DEBT_ALL_COMP_MD_SUPP',
 'PLUS_DEBT_ALL_COMP_MDPAY10_SUPP',
 'BBRR2_FED_UG_N_SUPP',
 'BBRR2_FED_UG_DFLT_SUPP',
 'BBRR2_FED_UG_DLNQ_SUPP',
 'BBRR2_FED_UG_FBR_SUPP',
 'BBRR2_FED_UG_DFR_SUPP',
 'BBRR2_FED_UG_NOPROG_SUPP',
 'BBRR2_FED_UG_MAKEPROG_SUPP',
 'BBRR2_FED_UG_PAIDINFULL_SUPP',
 'BBRR2_FED_UG_DISCHARGE_SUPP',
 'BBRR2_FED_UGCOMP_N_SUPP',
 'BBRR2_FED_UGCOMP_DFLT_SUPP',
 'BBRR2_FED_UGCOMP_DLNQ_SUPP',
 'BBRR2_FED_UGCOMP_FBR_SUPP',
 'BBRR2_FED_UGCOMP_DFR_SUPP',
 'BBRR2_FED_UGCOMP_NOPROG_SUPP',
 'BBRR2_FED_UGCOMP_MAKEPROG_SUPP',
 'BBRR2_FED_UGCOMP_PAIDINFULL_SUPP',
 'BBRR2_FED_UGCOMP_DISCHARGE_SUPP',
 'DOLPROVIDER',
 'ADMCON7',
 'MDCOMP_PD',
 'MDCOST_PD',
 'MDEARN_PD',
 'MDCOMP_ALL',
 'MDCOST_ALL',
 'MDEARN_ALL',
 'C150_L4_PELL_POOLED_SUPP',
 'C150_4_PELL_POOLED_SUPP',
 'OMAWDP8_PELL_FTFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTFT_POOLED_SUPP',
 'OMAWDP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_FTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_FTNFT_POOLED_SUPP',
 'OMAWDP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRAP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRUP8_PELL_PTNFT_POOLED_SUPP',
 'OMENRYP_PELL_ALL_POOLED_SUPP',
 'OMENRAP_PELL_ALL_POOLED_SUPP',
 'OMAWDP8_PELL_ALL_POOLED_SUPP',
 'OMENRUP_PELL_ALL_POOLED_SUPP',
 'OMENRYP_PELL_FTT_POOLED_SUPP',
 'OMENRAP_PELL_FTT_POOLED_SUPP',
 'OMAWDP8_PELL_FTT_POOLED_SUPP',
 'OMENRUP_PELL_FTT_POOLED_SUPP',
 'OMENRYP_PELL_NFT_POOLED_SUPP',
 'OMENRAP_PELL_NFT_POOLED_SUPP',
 'OMAWDP8_PELL_NFT_POOLED_SUPP',
 'OMENRUP_PELL_NFT_POOLED_SUPP',
 'OMENRYP_PELL_FT_POOLED_SUPP',
 'OMENRAP_PELL_FT_POOLED_SUPP',
 'OMAWDP8_PELL_FT_POOLED_SUPP',
 'OMENRUP_PELL_FT_POOLED_SUPP',
 'OMENRYP_PELL_PT_POOLED_SUPP',
 'OMENRAP_PELL_PT_POOLED_SUPP',
 'OMAWDP8_PELL_PT_POOLED_SUPP',
 'OMENRUP_PELL_PT_POOLED_SUPP',
 'GT_THRESHOLD_P6_SUPP']

In [8]:
input_zip = "30315"

In [56]:
lat =float(list(geo[geo['zip']==input_zip]['lat'])[0])
lon =float(list(geo[geo['zip']==input_zip]['lng'])[0])
print(f"lat, lon: ({lat}, {lon})")

lat, lon: (33.70312, -84.38272)

In [55]:
## Function to use to find the distance of each university in miles
def inst_dist (lat,lon):
    idx = inst.apply(lambda x: great_circle((x["LATITUDE"], x["LONGITUDE"]), (lat, lon)).miles, axis=1)
    return inst.loc[:, ['UNITID']].assign(DISTANCE_MI=idx)

In [57]:
inst[["UNITID","LATITUDE","LONGITUDE"]]

        UNITID   LATITUDE   LONGITUDE
0       100654  34.783368  -86.568502
1       100663  33.505697  -86.799345
2       100690  32.362609   -86.17401
3       100706  34.724557  -86.640449
4       100724  32.364317  -86.295677
...        ...        ...         ...
6676  49576719   41.31559   -76.02235
6677  49576720   39.92142   -76.71277
6678  49576721    40.0466    -75.5302
6679  49576722   40.19437   -76.72659
6680  49576723   39.92248   -75.41419

[6681 rows x 3 columns]

In [60]:
#Distances of each university to the input zip
zip_all_dist = inst_dist(lat,lon)
zip_all_dist

        UNITID  DISTANCE_MI
0       100654   145.448313
1       100663   139.732231
2       100690   139.080645
3       100706   147.036320
4       100724   144.337436
...        ...          ...
6676  49576719   696.862958
6677  49576720   603.350253
6678  49576721   656.257973
6679  49576722   615.843200
6680  49576723   655.702807

[6681 rows x 2 columns]

In [11]:
sqldf("SELECT COUNT(*) FROM inst",locals())

   COUNT(*)
0      6681

In [150]:
basequery = """
SELECT *
FROM inst
"""

In [152]:
baseDF = sqldf(basequery,locals())

In [119]:
featuresDict = {}
featuresDict['x1']= 'OMENRUP_PELL_NFT_POOLED_SUPP'
featuresDict['x2']= 'OMENRYP_PELL_FT_POOLED_SUPP'
featuresDict['x3']= 'OMENRAP_PELL_FT_POOLED_SUPP'
featuresDict

{'x1': 'OMENRUP_PELL_NFT_POOLED_SUPP',
 'x2': 'OMENRYP_PELL_FT_POOLED_SUPP',
 'x3': 'OMENRAP_PELL_FT_POOLED_SUPP'}

In [120]:
featuresQuery = """
SELECT {}, {}, {}
FROM inst
limit 10
""".format(featuresDict['x1'],featuresDict['x2'],featuresDict['x3'])

In [121]:
featuresDF = sqldf(featuresQuery,locals())
featuresDF

,OMENRUP_PELL_NFT_POOLED_SUPP,OMENRYP_PELL_FT_POOLED_SUPP,OMENRAP_PELL_FT_POOLED_SUPP
0,0.2803,0.0116,0.3329
1,0.211,0.0149,0.2773
2,0.468,0,0.2798
3,0.187,0.0098,0.3154
4,0.2026,0.0097,0.3904
5,0.1646,0.0087,0.3037
6,0.4701,0.005,0.288
7,0.2607,0.0138,0.1394
8,0.2516,0.0123,0.4047
9,0.1099,0.0105,0.2098

Normalizing each feature

part 1: find each feature's length

In [122]:
maxQuery = """
SELECT max({0}) x1FeatureLength, max({1}) x2FeatureLength, max({2}) x3FeatureLength
FROM inst
where {0} not like 'PrivacySuppressed' and {1} not like 'PrivacySuppressed' and {2} not like 'PrivacySuppressed'
""".format(featuresDict['x1'],featuresDict['x2'],featuresDict['x3'])

In [123]:
featureLengthDF = sqldf(maxQuery,locals())

In [124]:
featureLengths = featureLengthDF.loc[0]

In [125]:
x1FeatureLength = float(test['x1FeatureLength'])
x2FeatureLength = float(test['x2FeatureLength'])
x3FeatureLength = float(test['x3FeatureLength'])

part 2: applying length to normalize each feature

In [148]:
normalizedQuery = """
SELECT 
{0}/{3} feature1normalized,
{1}/{4} feature2normalized,
{2}/{5} feature3normalized
FROM inst
""".format(featuresDict['x1'],featuresDict['x2'],featuresDict['x3'], x1FeatureLength, x2FeatureLength, x3FeatureLength)

In [149]:
normalizedDF = sqldf(normalizedQuery,locals())
normalizedDF

      feature1normalized  feature2normalized  feature3normalized
0               0.298191            0.033420            0.401762
1               0.224468            0.042927            0.334661
2               0.497872            0.000000            0.337678
3               0.198936            0.028234            0.380642
4               0.215532            0.027946            0.471156
...                  ...                 ...                 ...
6676                 NaN                 NaN                 NaN
6677                 NaN                 NaN                 NaN
6678                 NaN                 NaN                 NaN
6679                 NaN                 NaN                 NaN
6680                 NaN                 NaN                 NaN

[6681 rows x 3 columns]

multiplying preferences to feature

In [139]:
prefVector = np.array([0.3,0.2,0.5])

In [140]:
normalizedMatrix = normalizedDF.values

In [141]:
normalizedMatrix

array([[0.29819149, 0.03341976, 0.40176201],
       [0.22446809, 0.04292711, 0.33466087],
       [0.49787234, 0.        , 0.33767801],
       ...,
       [       nan,        nan,        nan],
       [       nan,        nan,        nan],
       [       nan,        nan,        nan]])

In [142]:
ratingScore = np.dot(normalizedMatrix, prefVector)

In [153]:
baseDF['Rating'] = ratingScore

In [160]:
testQuery = """
SELECT count(*)
FROM baseDF
where rating is not NULL
"""

In [161]:
output = sqldf(testQuery,locals())
output

   count(*)
0      3513